
@model IEnumerable<WardRobe.Models.Backpack>

@{
    ViewData["Title"] = "Backpack.";
    var backpack = (List<Backpack>)ViewData["bacpack"];
}

<h2 class="text-center" style="font-family:'Freestyle Script'; font-size:50px; color:darkturquoise">My Backpack</h2>
<p>
    <a class="btn btn-info" asp-action="Create"> Create New </a>
</p>

<form>
    <p>
        Trip Name: @Html.DropDownList("Tripname", "All")

        <input type="submit" value="Search" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TripName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wardrobe)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TripName)
                </td>
                <td>
                    <div class="col-md-3" style="margin-bottom:10px">
                        <div style="text-align:center">
                            <h5>@item.Wardrobe</h5>
                        </div>
                        <div class="image" style="margin-bottom:20px">
                            <img class="img-responsive" src="@item.ImageUrl" height="330" width="220" />
                        </div>
                    </div>
                </td>

                <td>
            
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>

           
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
         
            </td>
            </tr>
        }
    </tbody>
</table>
