@model IEnumerable<WardRobe.Models.MixnMatch>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center" style="font-family:'Freestyle Script'; font-size:50px; color:darkturquoise">Mix 'N' Match</h2>

<p>
    <a class="btn btn-info" asp-action="Create"> Create New </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Top)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bottom)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                <div class="col-md-3" style="margin-bottom:10px">
                    <div style="text-align:center">
                        <h5>@item.Top</h5>
                    </div>
                    <div class="image" style="margin-bottom:20px">
                        <img class="img-responsive" src="@item.TopUrl" height="330" width="220" />
                    </div>
                </div>
            </td>
            <td>
                <div class="col-md-3" style="margin-bottom:10px">
                    <div style="text-align:center">
                        <h5>@item.Bottom</h5>
                    </div>
                    <div class="image" style="margin-bottom:20px">
                        <img class="img-responsive" src="@item.BottomUrl" height="330" width="220" />
                    </div>
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
