@model WardRobe.Models.Recycle
@{
    ViewData["Title"] = "RecycleCompany";
}

    <h2  style="font-family:'Freestyle Script'; font-size:50px; color:darkturquoise">Oragnisation Details</h2>

    <div>

        <dl class="dl-horizontal">
            <dt>
                Logo
            </dt>
            <dd>
                <img src="@Html.DisplayFor(model => model.ImageUrl)" width="100px" height="100px" />
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                Category & Type
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt>
                Phone Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Website)
            </dt>
            <dd>
                <a href="@Model.Website">@Html.DisplayFor(model => model.Website)</a>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Location)
            </dd>
            
            
        </dl>
        
    </div>
    <div>
        <a class="btn btn-info" asp-action="RecycleCompany"> Back to List</a>
    </div>

