@model IEnumerable<WardRobe.Models.Recycle>

@{
    ViewData["Title"] = "Recycling Organisations";
}

<h2 class="text-center" style="font-family:'Freestyle Script'; font-size:50px; color:darkturquoise">Recycling Organisations</h2>

<p>
    <a class="btn btn-info" asp-action="Create"> Create New </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
           

            <td>
                <div class="image" style="margin-bottom:20px">
                    <img class="img-responsive" src="@item.ImageUrl" height="330" width="220" />
                </div>

            </td>
            <td> <a class="btn btn-info" asp-action="Details" asp-route-id="@item.ID">Details</a>
           
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@item.ID">Edit</a>

           
             <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.ID">Delete</a></td>
        </tr>
        }
    </tbody>
</table>
